## Mobile Money Dashboard
In this assignment, we look at the mobile money graphs as a dashboard and

In [1]:
import plotly.graph_objs as go
import plotly.offline as pyo
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_renderer
import pandas as pd
import os
import pandas as pd
import seaborn as sns
sns.set()
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cash_outlet = pd.read_csv('training.csv')

In [3]:
cash_outlet.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [4]:
cash_outlet.rename(inplace=True, columns={
    'Q1':'age',
    'Q2':'gender',
    'Q3':'marital status',
    'Q4':'Highest level of education',
    'Q5':'property ownership',
    'Q6':'land ownership',
    'Q7':'personal mobile status',
    'Q8_1':'salaries or wages',
    'Q8_2':'money trading or selling',
    'Q8_3':'money providing a service',
    'Q8_4':'money casual work',
    'Q8_5':'money rental income',
    'Q8_6':'money interests',
    'Q8_7':'money pension',
    'Q8_8':'money social welfare',
    'Q8_9':'money financially dependant',
    'Q8_10':'money no income',
    'Q8_11':'other',
    'Q9':'salary and wages',
    'Q10':'selling things',
    'Q11':'providing a service',
    'Q12':'send money to another country',
    'Q13':'money last sent',
    'Q14':'received money from another country',
    'Q15':'last money received',
    'Q16':'mobile money purchases',
    'Q17':'mobile money bills',
    'Q18':'literacy in kwiswhahili',
    'Q19':'literacy in english'
    
})

In [5]:
cash_outlet.gender= ['male' if each == 1 else 'female' for each in cash_outlet.gender]
cash_outlet.groupby(by='gender').size()

gender
female    3972
male      3122
dtype: int64

In [6]:
cash_outlet.groupby(by='mobile_money_classification').size()

mobile_money_classification
0    1386
1    1778
2     804
3    3126
dtype: int64

In [7]:
cash_outlet['mobile_money_classification'].replace([0,1,2,3],['Nun','FS_only','MM_only','MM_FS'],inplace=True)

In [8]:
cash_outlet.groupby(by='mobile_money_classification').size()

mobile_money_classification
FS_only    1778
MM_FS      3126
MM_only     804
Nun        1386
dtype: int64

In [ ]:
cash_outlet['Group by age'] = cash_outlet.age.apply(lambda x : int(x/25) * 10)

In [ ]:
cash_outlet['marital status'].replace([1,2,3,4],['Married','Divorced','Widowed','Never married'],inplace=True)

In [ ]:
cash_outlet.groupby(by='marital status').size()

marital status
Divorced          687
Married          4548
Never married    1181
Widowed           678
dtype: int64

In [ ]:
cash_outlet['land ownership'].replace([1,2],['Yes', 'No'],inplace=True)

In [ ]:
cash_outlet.groupby(by='land ownership').size()

land ownership
No     5963
Yes    1131
dtype: int64

In [ ]:
Nun=cash_outlet[cash_outlet['land ownership']=='No']
Nun

,ID,age,gender,marital status,Highest level of education,property ownership,land ownership,personal mobile status,salaries or wages,money trading or selling,...,literacy in kwiswhahili,literacy in english,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification,Group by age
0,5086,98,female,Widowed,1,1,No,2,0,0,...,4,4,-4.460442,29.811396,0,0,0,0,Nun,30
2,331,18,female,Never married,6,3,No,1,0,0,...,1,1,-6.825702,37.652798,1,0,0,0,MM_only,0
4,8671,34,male,Married,1,1,No,1,0,1,...,1,4,-7.179645,31.039095,1,1,0,1,MM_FS,10
5,5462,35,male,Married,3,3,No,1,0,1,...,1,1,-6.362331,37.137741,0,0,1,0,FS_only,10
6,4886,31,female,Married,3,1,No,1,0,1,...,1,2,-8.089257,35.836415,1,1,1,1,MM_FS,10
7,621,23,female,Never married,5,5,No,1,0,0,...,2,2,-8.916028,33.433904,1,1,0,0,MM_FS,0
8,8302,56,female,Widowed,3,3,No,2,0,1,...,1,1,-3.972247,32.649951,0,1,1,0,FS_only,20
9,4704,37,female,Married,3,3,No,1,0,1,...,1,4,-8.033973,35.769416,1,0,0,1,MM_FS,10
10,2758,18,female,Never married,5,5,No,1,0,0,...,1,1,-3.619491,33.813974,1,1,1,0,MM_FS,0
11,2536,29,female,Married,6,1,No,1,0,0,...,1,4,-8.847496,34.823587,1,0,0,0,MM_only,10
12,8863,28,male,Married,3,3,No,2,0,1,...,1,4,-10.743503,34.733084,0,1,1,0,FS_only,10
13,5469,17,female,Married,2,5,No,2,0,1,...,1,4,-8.295917,31.509034,0,0,0,0,Nun,0
14,3543,22,female,Never married,6,5,No,1,0,0,...,1,1,-6.169053,39.198489,1,0,0,0,MM_only,0
15,6554,53,female,Married,3,1,No,2,0,1,...,1,4,-1.338745,30.900120,0,0,0,0,Nun,20
16,7769,21,female,Never married,6,3,No,1,0,0,...,1,1,-10.488371,39.027617,1,0,0,0,MM_only,0
18,6997,38,male,Never married,2,2,No,2,0,1,...,4,4,-1.261826,30.678591,1,1,1,0,MM_FS,10
19,987,30,female,Widowed,3,1,No,1,0,1,...,1,1,-7.782641,35.665599,1,1,0,0,MM_FS,10
20,5576,27,female,Married,3,1,No,2,0,1,...,1,4,-4.614918,29.787609,1,1,0,0,MM_FS,10
21,2272,42,female,Married,3,3,No,1,0,0,...,1,4,-2.597419,32.913601,1,0,1,0,MM_FS,10
22,8277,44,male,Married,1,3,No,2,0,1,...,4,4,-10.918859,38.002656,1,1,0,0,MM_FS,10
24,915,19,male,Never married,3,3,No,1,0,0,...,1,4,-5.072699,38.454525,1,0,1,0,MM_FS,0
25,1335,29,female,Married,3,5,No,2,0,0,...,1,1,-7.774543,35.693376,1,1,1,0,MM_FS,10
26,1251,20,female,Never married,3,4,No,1,0,0,...,1,3,-6.219971,39.232399,1,1,1,0,MM_FS,0
27,5036,26,female,Divorced,3,5,No,1,1,0,...,1,1,-1.324064,31.790627,1,1,1,0,MM_FS,10
28,599,44,female,Divorced,3,5,No,1,0,0,...,5,5,-3.352235,37.347386,1,1,1,1,MM_FS,10
29,794,32,female,Never married,2,5,No,1,0,1,...,5,5,-6.819066,37.645532,1,1,1,0,MM_FS,10
30,3158,53,female,Divorced,1,1,No,1,0,1,...,1,4,-4.290469,35.858967,1,0,0,0,MM_only,20
32,1241,35,female,Never married,3,4,No,1,0,1,...,1,1,-8.898817,33.547520,1,0,1,0,MM_FS,10
34,4109,20,female,Married,1,3,No,2,0,1,...,4,4,-8.568090,32.125800,1,0,0,0,MM_only,0
36,3895,18,male,Never married,3,5,No,2,0,1,...,5,1,-4.090220,34.737373,0,1,0,0,FS_only,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7057,8004,16,female,Never married,5,3,No,2,0,0,...,1,4,-1.734179,33.974973,0,0,1,0,FS_only,0
7058,1024,32,male,Married,3,3,No,1,0,1,...,1,4,-4.619171,34.943594,1,1,1,0,MM_FS,10
7059,9380,35,female,Married,6,3,No,2,0,0,...,1,4,-6.860008,39.248813,1,1,1,0,MM_FS,10
7060,435,22,male,Never married,6,5,No,1,0,0,...,1,1,-2.490701,32.911952,1,0,0,0,MM_only,0
7061,9428,35,female,Divorced,3,1,No,1,0,0,...,1,2,-7.526690,39.294474,1,1,1,0,MM_FS,10
7062,5995,40,female,Widowed,3,1,No,1,0,1,...,1,4,-10.098242,34.687349,1,0,0,0,MM_only,10
7063,6169,35,male,Married,3,5,No,1,0,1,...,2,4,-2.850828,32.883964,1,1,1,0,MM_FS,10
7064,5935,23,male,Married,5,5,No,1,0,1,...,1,1,-1.436048,34.590432,1,0,0,0,MM_only,0
7065,6048,21,male,Never married,3,3,No,1,0,1,...,1,4,-5.717025,38.235962,1,0,0,0,MM_only,0
7067,7714,21,female,Married,3,5,No,1,0,0,...,1,4,-4.909879,29.661688,1,0,0,0,MM_only,0
7069,7261,38,female,Married,2,3,No,2,0,1,...,4,4,-6.178900,34.838594,0,1,0,0,FS_only,10
7070,4741,31,female,Divorced,2,5,No,2,0,1,...,2,4,-4.200217,34.822235,0,1,0,1,FS_only,10
7071,511,26,male,Married,7,5,No,1,0,0,...,1,1,-9.334476,34.767109,1,1,1,0,MM_FS,10
7072,1300,17,male,Never married,6,3,No,1,0,0,...,1,1,-10.551712,39.787641,1,1,1,0,MM_FS,0
7073,5493,42,female,Married,1,1,No,2,0,1,...,4,4,-3.531386,32.060277,0,1,1,0,FS_only,10
7074,9091,34,female,Married,2,1,No,2,0,1,...,1,4,-7.597877,36.995361,0,0,1,0,FS_only,10
7075,9427,45,female,Married,3,1,No,2,0,1,...,1,4,-7.516838,39.224430,0,1,0,0,FS_only,10
7077,5043,45,female,Divorced,3,5,No,1,0,1,...,1,4,-5.134800,34.771348,1,1,0,1,MM_FS,10
7078,917,26,male,Never married,6,5,No,1,0,1,...,1,1,-9.362728,34.783202,1,1,1,0,MM_FS,10
7079,6282,28,female,Married,3,2,No,1,0,0,...,1,1,-3.390990,36.763471,1,1,0,1,MM_FS,10
7081,8628,34,female,Married,1,2,No,2,0,1,...,4,4,-10.793401,38.319854,0,0,0,1,FS_only,10
7082,4579,33,male,Married,2,4,No,2,0,0,...,1,4,-9.910713,38.994407,1,0,0,0,MM_only,10
7084,9363,41,female,Never married,3,3,No,1,0,1,...,1,2,-6.823064,39.310909,1,1,1,0,MM_FS,10
7085,4860,36,female,Divorced,3,5,No,1,0,1,...,1,1,-10.369741,38.759225,1,1,1,0,MM_FS,10
7086,24,24,male,Married,3,4,No,1,0,1,...,1,1,-6.616820,39.096398,1,1,0,0,MM_FS,0
7087,5546,25,male,Married,4,1,No,1,0,1,...,1,1,-1.329040,31.808420,1,1,1,0,MM_FS,10
7089,8378,57,female,Widowed,3,1,No,2,0,1,...,1,4,-5.811335,35.098103,0,1,0,0,FS_only,20
7091,6672,22,female,Widowed,3,3,No,2,0,1,...,4,4,-8.303729,31.059642,0,0,0,0,Nun,0
7092,5416,28,female,Married,3,1,No,2,0,1,...,1,4,-8.090712,35.836560,1,0,0,1,MM_FS,10
7093,3946,78,male,Widowed,1,1,No,2,0,0,...,4,4,-5.192204,38.764523,0,0,0,0,Nun,30

In [ ]:
female_df = cash_outlet[cash_outlet['gender'] == 'female']
male_df = cash_outlet[cash_outlet['gender'] == 'male']

m_class=cash_outlet['mobile_money_classification']

Nun=cash_outlet[cash_outlet['mobile_money_classification']=='Nun']
FS_only=cash_outlet[cash_outlet['mobile_money_classification']=='FS_only']
MM_only=cash_outlet[cash_outlet['mobile_money_classification']=='MM_only']
MM_FS=cash_outlet[cash_outlet['mobile_money_classification']=='MM_FS']

Owner=cash_outlet[cash_outlet['land ownership'] == 'Yes']
Non_owner=cash_outlet[cash_outlet['land ownership'] == 'No']

married=cash_outlet[cash_outlet['marital status']=='Married']
divorced=cash_outlet[cash_outlet['marital status']=='Divorced']
widowed=cash_outlet[cash_outlet['marital status']=='Widowed']
never=cash_outlet[cash_outlet['marital status']=='Never married']


app = dash.Dash()


# app.css.append_css[{'external_url':'https://codepen.io/amyoshino/pen/jzXypZ.css'}]
app.title = 'dashboard'

app.layout = html.Div(
       html.Div([
            html.H1(children = 'dashoard for mobile money'),
           
            
            html.Div(children ='''
                Dash: Web dashboards with python,
            '''),
       
       
        dcc.Graph(
            id='mobile money',
            figure={
            'data':[
                {'x':cash_outlet['mobile_money_classification'], 'y': cash_outlet['gender'], 'type': 'bar','name': 'Male'},
                {'x':cash_outlet['mobile_money_classification'], 'y': cash_outlet['gender'], 'type': 'bar','name': 'Female'},
            
            ],
            
            'layout':{
                'title':'Relationship between mobile money class and gender'
            }
        }
    ),            
    dcc.Graph(
        id='mobile money2',
        figure={
            'data':[
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['age'], 'type': 'bar','name': 'None'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['age'], 'type': 'bar','name': 'FS_only'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['age'], 'type': 'bar','name': 'MM_FS'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['age'], 'type': 'bar','name': 'MM_only'},     
            ],
            'layout':{
                'title':'Relationship between mobile money class and age'
            }
        }
    ),
    dcc.Graph(
        id='mobile money3',
        figure={
            'data':[
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['land ownership'], 'type': 'bar','name': 'Owner'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['land ownership'], 'type': 'bar','name': 'Non_owner'},
            ],
            'layout':{
                'title':'Relationship between mobile money class and land ownership'
            }
        }
    ),
    dcc.Graph(
        id='mobile money4',
        figure={
            'data':[
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['marital status'], 'type': 'bar','name': 'Married'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['marital status'], 'type': 'bar','name': 'Divorced'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['marital status'], 'type': 'bar','name': 'Widowed'},
                {'x':cash_outlet['mobile_money_classification'], 'y':cash_outlet['marital status'], 'type': 'bar','name': 'Never married'},     
            ],
            'layout':{
                'title':'Relationship between mobile money class and marital status'
            }
        }
    ),
                
]))

if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [30/Mar/2020 20:29:12] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Mar/2020 20:29:14] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [30/Mar/2020 20:29:14] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [30/Mar/2020 20:29:14] "GET /_favicon.ico?v=1.8.0 HTTP/1.1" 200 -